=begin
#Web API Swagger specification

#No description provided (generated by Swagger Codegen https://github.com/swagger-api/swagger-codegen)

OpenAPI spec version: 1.0

Generated by: https://github.com/swagger-api/swagger-codegen.git
Swagger Codegen version: 2.3.0-SNAPSHOT

=end

require "uri"

module AsposeCellsCloud
  class CellsOleObjectsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end

    # Delete OLE object.
    # 
    # @param name The workbook name.
    # @param sheet_name The worsheet name.
    # @param ole_object_index Ole object index
    # @param [Hash] opts the optional parameters
    # @option opts [String] :folder The workbook folder.
    # @option opts [String] :storage storage name.
    # @return [SaaSposeResponse]
    def cells_ole_objects_delete_worksheet_ole_object(name, sheet_name, ole_object_index, opts = {})
      data, _status_code, _headers = cells_ole_objects_delete_worksheet_ole_object_with_http_info(name, sheet_name, ole_object_index, opts)
      return data
    end

    # Delete OLE object.
    # 
    # @param name The workbook name.
    # @param sheet_name The worsheet name.
    # @param ole_object_index Ole object index
    # @param [Hash] opts the optional parameters
    # @option opts [String] :folder The workbook folder.
    # @option opts [String] :storage storage name.
    # @return [Array<(SaaSposeResponse, Fixnum, Hash)>] SaaSposeResponse data, response status code and response headers
    def cells_ole_objects_delete_worksheet_ole_object_with_http_info(name, sheet_name, ole_object_index, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: CellsOleObjectsApi.cells_ole_objects_delete_worksheet_ole_object ..."
      end
      # verify the required parameter 'name' is set
      if @api_client.config.client_side_validation && name.nil?
        fail ArgumentError, "Missing the required parameter 'name' when calling CellsOleObjectsApi.cells_ole_objects_delete_worksheet_ole_object"
      end
      # verify the required parameter 'sheet_name' is set
      if @api_client.config.client_side_validation && sheet_name.nil?
        fail ArgumentError, "Missing the required parameter 'sheet_name' when calling CellsOleObjectsApi.cells_ole_objects_delete_worksheet_ole_object"
      end
      # verify the required parameter 'ole_object_index' is set
      if @api_client.config.client_side_validation && ole_object_index.nil?
        fail ArgumentError, "Missing the required parameter 'ole_object_index' when calling CellsOleObjectsApi.cells_ole_objects_delete_worksheet_ole_object"
      end
      # resource path
      local_var_path = "/cells/{name}/worksheets/{sheetName}/oleobjects/{oleObjectIndex}".sub('{' + 'name' + '}', name.to_s).sub('{' + 'sheetName' + '}', sheet_name.to_s).sub('{' + 'oleObjectIndex' + '}', ole_object_index.to_s)

      # query parameters
      query_params = {}
      query_params[:'folder'] = opts[:'folder'] if !opts[:'folder'].nil?
      query_params[:'storage'] = opts[:'storage'] if !opts[:'storage'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = []
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'SaaSposeResponse')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CellsOleObjectsApi#cells_ole_objects_delete_worksheet_ole_object\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete all OLE objects.
    # 
    # @param name The workbook name.
    # @param sheet_name The worsheet name.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :folder The workbook folder.
    # @option opts [String] :storage storage name.
    # @return [SaaSposeResponse]
    def cells_ole_objects_delete_worksheet_ole_objects(name, sheet_name, opts = {})
      data, _status_code, _headers = cells_ole_objects_delete_worksheet_ole_objects_with_http_info(name, sheet_name, opts)
      return data
    end

    # Delete all OLE objects.
    # 
    # @param name The workbook name.
    # @param sheet_name The worsheet name.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :folder The workbook folder.
    # @option opts [String] :storage storage name.
    # @return [Array<(SaaSposeResponse, Fixnum, Hash)>] SaaSposeResponse data, response status code and response headers
    def cells_ole_objects_delete_worksheet_ole_objects_with_http_info(name, sheet_name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: CellsOleObjectsApi.cells_ole_objects_delete_worksheet_ole_objects ..."
      end
      # verify the required parameter 'name' is set
      if @api_client.config.client_side_validation && name.nil?
        fail ArgumentError, "Missing the required parameter 'name' when calling CellsOleObjectsApi.cells_ole_objects_delete_worksheet_ole_objects"
      end
      # verify the required parameter 'sheet_name' is set
      if @api_client.config.client_side_validation && sheet_name.nil?
        fail ArgumentError, "Missing the required parameter 'sheet_name' when calling CellsOleObjectsApi.cells_ole_objects_delete_worksheet_ole_objects"
      end
      # resource path
      local_var_path = "/cells/{name}/worksheets/{sheetName}/oleobjects".sub('{' + 'name' + '}', name.to_s).sub('{' + 'sheetName' + '}', sheet_name.to_s)

      # query parameters
      query_params = {}
      query_params[:'folder'] = opts[:'folder'] if !opts[:'folder'].nil?
      query_params[:'storage'] = opts[:'storage'] if !opts[:'storage'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = []
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'SaaSposeResponse')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CellsOleObjectsApi#cells_ole_objects_delete_worksheet_ole_objects\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get OLE object info.
    # 
    # @param name Document name.
    # @param sheet_name Worksheet name.
    # @param object_number The object number.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :format The exported object format.
    # @option opts [String] :folder The document folder.
    # @option opts [String] :storage storage name.
    # @return [File]
    def cells_ole_objects_get_worksheet_ole_object(name, sheet_name, object_number, opts = {})
      data, _status_code, _headers = cells_ole_objects_get_worksheet_ole_object_with_http_info(name, sheet_name, object_number, opts)
      return data
    end

    # Get OLE object info.
    # 
    # @param name Document name.
    # @param sheet_name Worksheet name.
    # @param object_number The object number.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :format The exported object format.
    # @option opts [String] :folder The document folder.
    # @option opts [String] :storage storage name.
    # @return [Array<(File, Fixnum, Hash)>] File data, response status code and response headers
    def cells_ole_objects_get_worksheet_ole_object_with_http_info(name, sheet_name, object_number, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: CellsOleObjectsApi.cells_ole_objects_get_worksheet_ole_object ..."
      end
      # verify the required parameter 'name' is set
      if @api_client.config.client_side_validation && name.nil?
        fail ArgumentError, "Missing the required parameter 'name' when calling CellsOleObjectsApi.cells_ole_objects_get_worksheet_ole_object"
      end
      # verify the required parameter 'sheet_name' is set
      if @api_client.config.client_side_validation && sheet_name.nil?
        fail ArgumentError, "Missing the required parameter 'sheet_name' when calling CellsOleObjectsApi.cells_ole_objects_get_worksheet_ole_object"
      end
      # verify the required parameter 'object_number' is set
      if @api_client.config.client_side_validation && object_number.nil?
        fail ArgumentError, "Missing the required parameter 'object_number' when calling CellsOleObjectsApi.cells_ole_objects_get_worksheet_ole_object"
      end
      # resource path
      local_var_path = "/cells/{name}/worksheets/{sheetName}/oleobjects/{objectNumber}".sub('{' + 'name' + '}', name.to_s).sub('{' + 'sheetName' + '}', sheet_name.to_s).sub('{' + 'objectNumber' + '}', object_number.to_s)

      # query parameters
      query_params = {}
      query_params[:'format'] = opts[:'format'] if !opts[:'format'].nil?
      query_params[:'folder'] = opts[:'folder'] if !opts[:'folder'].nil?
      query_params[:'storage'] = opts[:'storage'] if !opts[:'storage'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = []
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'File')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CellsOleObjectsApi#cells_ole_objects_get_worksheet_ole_object\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get worksheet OLE objects info.
    # 
    # @param name Document name.
    # @param sheet_name The worksheet name.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :folder Document&#39;s folder.
    # @option opts [String] :storage storage name.
    # @return [OleObjectsResponse]
    def cells_ole_objects_get_worksheet_ole_objects(name, sheet_name, opts = {})
      data, _status_code, _headers = cells_ole_objects_get_worksheet_ole_objects_with_http_info(name, sheet_name, opts)
      return data
    end

    # Get worksheet OLE objects info.
    # 
    # @param name Document name.
    # @param sheet_name The worksheet name.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :folder Document&#39;s folder.
    # @option opts [String] :storage storage name.
    # @return [Array<(OleObjectsResponse, Fixnum, Hash)>] OleObjectsResponse data, response status code and response headers
    def cells_ole_objects_get_worksheet_ole_objects_with_http_info(name, sheet_name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: CellsOleObjectsApi.cells_ole_objects_get_worksheet_ole_objects ..."
      end
      # verify the required parameter 'name' is set
      if @api_client.config.client_side_validation && name.nil?
        fail ArgumentError, "Missing the required parameter 'name' when calling CellsOleObjectsApi.cells_ole_objects_get_worksheet_ole_objects"
      end
      # verify the required parameter 'sheet_name' is set
      if @api_client.config.client_side_validation && sheet_name.nil?
        fail ArgumentError, "Missing the required parameter 'sheet_name' when calling CellsOleObjectsApi.cells_ole_objects_get_worksheet_ole_objects"
      end
      # resource path
      local_var_path = "/cells/{name}/worksheets/{sheetName}/oleobjects".sub('{' + 'name' + '}', name.to_s).sub('{' + 'sheetName' + '}', sheet_name.to_s)

      # query parameters
      query_params = {}
      query_params[:'folder'] = opts[:'folder'] if !opts[:'folder'].nil?
      query_params[:'storage'] = opts[:'storage'] if !opts[:'storage'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = []
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'OleObjectsResponse')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CellsOleObjectsApi#cells_ole_objects_get_worksheet_ole_objects\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update OLE object.
    # 
    # @param name The workbook name.
    # @param sheet_name The worsheet name.
    # @param ole_object_index Ole object index
    # @param [Hash] opts the optional parameters
    # @option opts [OleObject] :ole Ole Object
    # @option opts [String] :folder The workbook folder.
    # @option opts [String] :storage storage name.
    # @return [SaaSposeResponse]
    def cells_ole_objects_post_update_worksheet_ole_object(name, sheet_name, ole_object_index, opts = {})
      data, _status_code, _headers = cells_ole_objects_post_update_worksheet_ole_object_with_http_info(name, sheet_name, ole_object_index, opts)
      return data
    end

    # Update OLE object.
    # 
    # @param name The workbook name.
    # @param sheet_name The worsheet name.
    # @param ole_object_index Ole object index
    # @param [Hash] opts the optional parameters
    # @option opts [OleObject] :ole Ole Object
    # @option opts [String] :folder The workbook folder.
    # @option opts [String] :storage storage name.
    # @return [Array<(SaaSposeResponse, Fixnum, Hash)>] SaaSposeResponse data, response status code and response headers
    def cells_ole_objects_post_update_worksheet_ole_object_with_http_info(name, sheet_name, ole_object_index, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: CellsOleObjectsApi.cells_ole_objects_post_update_worksheet_ole_object ..."
      end
      # verify the required parameter 'name' is set
      if @api_client.config.client_side_validation && name.nil?
        fail ArgumentError, "Missing the required parameter 'name' when calling CellsOleObjectsApi.cells_ole_objects_post_update_worksheet_ole_object"
      end
      # verify the required parameter 'sheet_name' is set
      if @api_client.config.client_side_validation && sheet_name.nil?
        fail ArgumentError, "Missing the required parameter 'sheet_name' when calling CellsOleObjectsApi.cells_ole_objects_post_update_worksheet_ole_object"
      end
      # verify the required parameter 'ole_object_index' is set
      if @api_client.config.client_side_validation && ole_object_index.nil?
        fail ArgumentError, "Missing the required parameter 'ole_object_index' when calling CellsOleObjectsApi.cells_ole_objects_post_update_worksheet_ole_object"
      end
      # resource path
      local_var_path = "/cells/{name}/worksheets/{sheetName}/oleobjects/{oleObjectIndex}".sub('{' + 'name' + '}', name.to_s).sub('{' + 'sheetName' + '}', sheet_name.to_s).sub('{' + 'oleObjectIndex' + '}', ole_object_index.to_s)

      # query parameters
      query_params = {}
      query_params[:'folder'] = opts[:'folder'] if !opts[:'folder'].nil?
      query_params[:'storage'] = opts[:'storage'] if !opts[:'storage'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(opts[:'ole'])
      auth_names = []
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'SaaSposeResponse')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CellsOleObjectsApi#cells_ole_objects_post_update_worksheet_ole_object\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Add OLE object
    # 
    # @param name The workbook name.
    # @param sheet_name The worsheet name.
    # @param [Hash] opts the optional parameters
    # @option opts [OleObject] :ole_object Ole Object
    # @option opts [Integer] :upper_left_row Upper left row index (default to 0)
    # @option opts [Integer] :upper_left_column Upper left column index (default to 0)
    # @option opts [Integer] :height Height of oleObject, in unit of pixel (default to 0)
    # @option opts [Integer] :width Width of oleObject, in unit of pixel (default to 0)
    # @option opts [String] :ole_file OLE filename
    # @option opts [String] :image_file Image filename
    # @option opts [String] :folder The workbook folder.
    # @option opts [String] :storage storage name.
    # @return [OleObjectResponse]
    def cells_ole_objects_put_worksheet_ole_object(name, sheet_name, opts = {})
      data, _status_code, _headers = cells_ole_objects_put_worksheet_ole_object_with_http_info(name, sheet_name, opts)
      return data
    end

    # Add OLE object
    # 
    # @param name The workbook name.
    # @param sheet_name The worsheet name.
    # @param [Hash] opts the optional parameters
    # @option opts [OleObject] :ole_object Ole Object
    # @option opts [Integer] :upper_left_row Upper left row index
    # @option opts [Integer] :upper_left_column Upper left column index
    # @option opts [Integer] :height Height of oleObject, in unit of pixel
    # @option opts [Integer] :width Width of oleObject, in unit of pixel
    # @option opts [String] :ole_file OLE filename
    # @option opts [String] :image_file Image filename
    # @option opts [String] :folder The workbook folder.
    # @option opts [String] :storage storage name.
    # @return [Array<(OleObjectResponse, Fixnum, Hash)>] OleObjectResponse data, response status code and response headers
    def cells_ole_objects_put_worksheet_ole_object_with_http_info(name, sheet_name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: CellsOleObjectsApi.cells_ole_objects_put_worksheet_ole_object ..."
      end
      # verify the required parameter 'name' is set
      if @api_client.config.client_side_validation && name.nil?
        fail ArgumentError, "Missing the required parameter 'name' when calling CellsOleObjectsApi.cells_ole_objects_put_worksheet_ole_object"
      end
      # verify the required parameter 'sheet_name' is set
      if @api_client.config.client_side_validation && sheet_name.nil?
        fail ArgumentError, "Missing the required parameter 'sheet_name' when calling CellsOleObjectsApi.cells_ole_objects_put_worksheet_ole_object"
      end
      # resource path
      local_var_path = "/cells/{name}/worksheets/{sheetName}/oleobjects".sub('{' + 'name' + '}', name.to_s).sub('{' + 'sheetName' + '}', sheet_name.to_s)

      # query parameters
      query_params = {}
      query_params[:'upperLeftRow'] = opts[:'upper_left_row'] if !opts[:'upper_left_row'].nil?
      query_params[:'upperLeftColumn'] = opts[:'upper_left_column'] if !opts[:'upper_left_column'].nil?
      query_params[:'height'] = opts[:'height'] if !opts[:'height'].nil?
      query_params[:'width'] = opts[:'width'] if !opts[:'width'].nil?
      query_params[:'oleFile'] = opts[:'ole_file'] if !opts[:'ole_file'].nil?
      query_params[:'imageFile'] = opts[:'image_file'] if !opts[:'image_file'].nil?
      query_params[:'folder'] = opts[:'folder'] if !opts[:'folder'].nil?
      query_params[:'storage'] = opts[:'storage'] if !opts[:'storage'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(opts[:'ole_object'])
      auth_names = []
      data, status_code, headers = @api_client.call_api(:PUT, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'OleObjectResponse')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CellsOleObjectsApi#cells_ole_objects_put_worksheet_ole_object\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
