=begin
#Web API Swagger specification

#No description provided (generated by Swagger Codegen https://github.com/swagger-api/swagger-codegen)

OpenAPI spec version: 1.0

Generated by: https://github.com/swagger-api/swagger-codegen.git
Swagger Codegen version: 2.3.0-SNAPSHOT

=end

require "uri"

module AsposeCellsCloud
  class CellsSaveAsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end

    # Convert document and save result to storage.
    # 
    # @param name The document name.
    # @param [Hash] opts the optional parameters
    # @option opts [SaveOptions] :save_options Save options.
    # @option opts [String] :newfilename The new file name.
    # @option opts [BOOLEAN] :is_auto_fit_rows Autofit rows. (default to false)
    # @option opts [BOOLEAN] :is_auto_fit_columns Autofit columns. (default to false)
    # @option opts [String] :folder The document folder.
    # @option opts [String] :storage storage name.
    # @return [SaveResponse]
    def cells_save_as_post_document_save_as(name, opts = {})
      data, _status_code, _headers = cells_save_as_post_document_save_as_with_http_info(name, opts)
      return data
    end

    # Convert document and save result to storage.
    # 
    # @param name The document name.
    # @param [Hash] opts the optional parameters
    # @option opts [SaveOptions] :save_options Save options.
    # @option opts [String] :newfilename The new file name.
    # @option opts [BOOLEAN] :is_auto_fit_rows Autofit rows.
    # @option opts [BOOLEAN] :is_auto_fit_columns Autofit columns.
    # @option opts [String] :folder The document folder.
    # @option opts [String] :storage storage name.
    # @return [Array<(SaveResponse, Fixnum, Hash)>] SaveResponse data, response status code and response headers
    def cells_save_as_post_document_save_as_with_http_info(name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: CellsSaveAsApi.cells_save_as_post_document_save_as ..."
      end
      # verify the required parameter 'name' is set
      if @api_client.config.client_side_validation && name.nil?
        fail ArgumentError, "Missing the required parameter 'name' when calling CellsSaveAsApi.cells_save_as_post_document_save_as"
      end
      # resource path
      local_var_path = "/cells/{name}/SaveAs".sub('{' + 'name' + '}', name.to_s)

      # query parameters
      query_params = {}
      query_params[:'newfilename'] = opts[:'newfilename'] if !opts[:'newfilename'].nil?
      query_params[:'isAutoFitRows'] = opts[:'is_auto_fit_rows'] if !opts[:'is_auto_fit_rows'].nil?
      query_params[:'isAutoFitColumns'] = opts[:'is_auto_fit_columns'] if !opts[:'is_auto_fit_columns'].nil?
      query_params[:'folder'] = opts[:'folder'] if !opts[:'folder'].nil?
      query_params[:'storage'] = opts[:'storage'] if !opts[:'storage'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(opts[:'save_options'])
      auth_names = []
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'SaveResponse')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CellsSaveAsApi#cells_save_as_post_document_save_as\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
