=begin
#Web API Swagger specification

#No description provided (generated by Swagger Codegen https://github.com/swagger-api/swagger-codegen)

OpenAPI spec version: 1.0

Generated by: https://github.com/swagger-api/swagger-codegen.git
Swagger Codegen version: 2.3.0-SNAPSHOT

=end

require "uri"

module AsposeCellsCloud
  class CellsTaskApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end

    # Run tasks  
    # 
    # @param task_data 
    # @param [Hash] opts the optional parameters
    # @return [Object]
    def cells_task_post_run_task(task_data, opts = {})
      data, _status_code, _headers = cells_task_post_run_task_with_http_info(task_data, opts)
      return data
    end

    # Run tasks  
    # 
    # @param task_data 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Object, Fixnum, Hash)>] Object data, response status code and response headers
    def cells_task_post_run_task_with_http_info(task_data, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: CellsTaskApi.cells_task_post_run_task ..."
      end
      # verify the required parameter 'task_data' is set
      if @api_client.config.client_side_validation && task_data.nil?
        fail ArgumentError, "Missing the required parameter 'task_data' when calling CellsTaskApi.cells_task_post_run_task"
      end
      # resource path
      local_var_path = "/cells/task/runtask"

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(task_data)
      auth_names = []
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'Object')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CellsTaskApi#cells_task_post_run_task\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
